version: '3.8'

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "80:3000" # Mapeia a porta 80 do host para a porta 3000 do container
    restart: always